.input-table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  font-size: 14px;
  min-width: 900px;
}

.result-block {
    min-height: 500px;
    min-width: 1000px;
}


.table {
  border-collapse:collapse;
  border:1px solid #FF0000;
}

.table td{
  border:1px solid #FF0000;
  text-align: center;
  padding:10px
}

.table th {
  padding:10px
}
